.vlad {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;

    
}

.pageContent {
    width: 1024px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 25px;

    .controls
    {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 15px;
    }
}

.name 
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    margin: 0 auto;
    font-size: 40px;
}

.warehouses
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin: 0 auto;
}

.warehouseInput
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.warehouseItem
{
    height: 15%;
    border: 2px solid grey;
    margin-bottom: 5px;
    border-radius: 7px;
    padding: 5px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}



// jmeno: admin4    helso: admin4admin4  company: firma4